@using System.Web.Mvc.Html
@using Piranha.Web
@model Piranha.Extend.Regions.ImageRegion
@{
    Layout = "" ;
    
    var btnId = @ViewData.TemplateInfo.GetFullHtmlFieldId("myButton") ;
    var boxId = @ViewData.TemplateInfo.GetFullHtmlFieldId("myImageBox") ;
    var retId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Id") ;
    var nameId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Name") ;
    var altId = @ViewData.TemplateInfo.GetFullHtmlFieldId("Description") ;
    var imgPrev = @ViewData.TemplateInfo.GetFullHtmlFieldId("Preview") ;
    var btnRm = @ViewData.TemplateInfo.GetFullHtmlFieldId("btnRemove") ;
}
<script type="text/javascript">
    var thumbpath = '@Url.GetThumbnailBaseUrl()';

    $(document).ready(function () {
        var m = new piranha.media('@btnId', '@boxId', function (data) {
            $('#@retId').val(data.Id);
            $('#@nameId').val(data.DisplayName);
            $('#@altId').val(data.Description);
            $('#@imgPrev').attr('src', thumbpath + '/' + data.Id + '/71');
        });
        $('#@btnRm').click(function () {
            $('#@retId').val('@Guid.Empty');
            $('#@nameId').val('');
            $('#@altId').val('');
            $('#@imgPrev').attr('src', '');
            return false;
        });
    });
</script>
<div class="box" style="width:71px;height:71px;float:right;margin:14px;border-color:#e2e2e2;">
    <img id="@imgPrev" src="@Url.GetThumbnailUrl(Model.Id, 71)" alt="@Model.Description" />
</div>
<div style="margin-right:90px;">
    <ul class="form" style="padding-bottom:4px;">
        <li>
            @Html.LabelFor(m => m.Name)
            <div class="upload">
                @Html.HiddenFor(m => m.Id)
                <button type="button" id="@btnId" class="btn right">@Piranha.Resources.Global.ChooseFile</button>
                <div class="input">
                    @Html.TextBoxFor(m => m.Name)</div>
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.Description)
            <div class="input">
                @Html.TextBoxFor(m => m.Description)</div>
        </li>
    </ul>
    <button id="@btnRm" class="btn" style="margin-left:14px;margin-bottom:14px;">Remove current image</button>
</div>
<div id="@boxId" class="floatbox">
    <div class="bg"></div>
    <div class="box" style="min-width:510px;min-height:260px;">
    </div>
</div>