@model JM.Business.Kontakt.Contracts.Model.IStartModel

<div class="row">
	<div class="col-lg-12">
		<h1>Kontakt</h1>
		<p>Hier wird anhand eines kleinen Businessmoduls für Kundenkontakt die Gestaltung und der Aufbau einer Business-DLL für die JM-Basesolution gezeigt.</p>
		<a href="@Url.Action("JM_Business_Kontakt", "Module")">Zurück zur Modulübersicht</a>
	</div>

	@if (User.Identity == null || !User.Identity.IsAuthenticated)
	{
		<div class="col-lg-12">
			<h2>Hallo!</h2>
			<p>Um unser Kontakt-Angebot bestmöglichst aufzubauen müssen wir wissen, wer Sie sind und was Sie wirklich brauchen. Daher bitten wir Sie sich <a href="@Url.Action("Login", "Account", new { area = "", returnUrl = Request.RawUrl })">anzumelden</a>.</p>
			<p>Sollten Sie noch keinen Account haben können Sie sich natürlich schnell und einfach <a href="@Url.Action("Register", "Account", new { area = "", returnUrl = Request.RawUrl })">registrieren</a>.</p>
		</div>
	}
	else
	{
		<div class="col-lg-12">
			<h2>Hallo @User.Identity.Name</h2>
			<p>Wie können wir Ihnen heute weiterhelfen?</p>
		</div>
		<div class="col-lg-4">
			<h4>Ihre Daten</h4>
			@if (Model.PersonalData != null)
			{
				<div class="well well-sm">
					@Model.PersonalData.Salutation @Model.PersonalData.FirstName @Model.PersonalData.LastName<br />
					Gespeichert am @Model.PersonalData.CreatedAt.ToShortDateString() um @Model.PersonalData.CreatedAt.ToShortTimeString()<br />
					@if (Model.PersonalData.LastEditAt != null)
					{
						<text>Letzte Änderung am @Model.PersonalData.CreatedAt.ToShortDateString() um @Model.PersonalData.CreatedAt.ToShortTimeString()<br /></text>
					}
					Stadt/PLZ: @Model.PersonalData.PostCode<br />
					Telefon: @Model.PersonalData.Mobile<br />
					Email: @Model.PersonalData.Email<br />
				</div>
				<div>
					<a class="btn btn-primary btn-sm" href="@Url.Action("StoreData")">Daten ändern</a>
				</div>
			}
			else
			{
				<p>
					Speichern Sie jetzt Ihre persönlichen Daten!<br />
				</p>
				<div>
					<a class="btn btn-primary btn-sm" href="@Url.Action("StoreData")">Daten hinterlegen</a>
				</div>
			}
		</div>
		<div class="col-lg-8">
			<h4>Ihre Anfragen</h4>
			<p>Bisher haben wir @Model.ContactRequests.Count Anfragen von Ihnen gespeichert.</p>
			<table class="table table-responsive table-striped">
				<tr>
					<th>Datum</th>
					<th>Betreff</th>
					<th>Text</th>
				</tr>
				@foreach (var r in Model.ContactRequests)
				{
					<tr>
						<td>@r.CreatedAt.ToShortDateString() @r.CreatedAt.ToShortTimeString()</td>
						<td>@r.Subject</td>
						<td>@r.Message</td>
					</tr>
				}
			</table>
			<p>
				Stellen Sie jetzt eine neue Kontaktanfrage!<br />
			</p><div><a class="btn btn-primary btn-sm" href="@Url.Action("CreateRequest")">Anfrage stellen</a></div>
		</div>
	}
</div>