@using Microsoft.AspNet.Identity
@model JM.Business.Kontakt.Contracts.Model.IFamilyModel

@{
	ViewBag.Title = "StoreFamilyData";
}

<div class="row">

	@if (User.Identity == null || !User.Identity.IsAuthenticated)
	{
		<div class="col-lg-12">
			<h2>Hallo!</h2>
			<p>Bitte <a href="@Url.Action("Login", "Login", new { area = "", returnUrl = Request.RawUrl })">loggen Sie sich zuerst ein</a>.</p>
		</div>
	}
	else
	{
		<div class="col-lg-12">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<h2>Familiendaten speichern</h2>
					<p>Hier speichern wir die Kontaktdaten Ihrer Eltern.</p>
					<a href="@Url.Action("Index")">Zurück</a>
					<hr />
					@Html.ValidationSummary(true)
					@Html.HiddenFor(model => model.UserID)
					
					<div class="form-group">
						<label class="control-label col-md-2">Ihr Benutzername</label>
						<div class="col-md-10">
							<input class="form-control" disabled value="@User.Identity.Name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Ihre UserID</label>
						<div class="col-md-10">
							<input class="form-control" disabled value="@User.Identity.GetUserId()"/>
						</div>
					</div>
					
					<div class="form-group">
						@Html.LabelFor(model => model.FamilyName, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.FamilyName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.FamilyName)
						</div>
					</div>
					<hr/>
					
					<h3>Daten des Vaters</h3>
					
					@Html.HiddenFor(m => m.Father.LastEditAt)
					@Html.HiddenFor(m => m.Father.CreatedAt)
					<div class="form-group">
						@Html.LabelFor(model => model.Father.UserID, "UserID des Vaters", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.UserID, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.UserID)
						</div>
					</div>
					
					<div class="form-group">
						@Html.LabelFor(model => model.Father.Salutation, "Anrede", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.Salutation, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.Salutation)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Father.FirstName, "Vorname", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.FirstName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.FirstName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Father.LastName, "Nachname", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.LastName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.LastName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Father.Email, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.Email, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.Email)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Father.PostCode, "PLZ", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.PostCode, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.PostCode)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Father.Mobile, "Handynummer", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Father.Mobile, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Father.Mobile)
						</div>
					</div>
					
					
					<h3>Daten der Mutter</h3>
					
					@Html.HiddenFor(m => m.Mother.LastEditAt)
					@Html.HiddenFor(m => m.Mother.CreatedAt)
					<div class="form-group">
						@Html.LabelFor(model => model.Mother.UserID, "UserID der Mutter", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.UserID, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.UserID)
						</div>
					</div>
					
					<div class="form-group">
						@Html.LabelFor(model => model.Mother.Salutation, "Anrede", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.Salutation, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.Salutation)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Mother.FirstName, "Vorname", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.FirstName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.FirstName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Mother.LastName, "Nachname", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.LastName, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.LastName)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Mother.Email, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.Email, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.Email)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Mother.PostCode, "PLZ", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.PostCode, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.PostCode)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Mother.Mobile, "Handynummer", new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Mother.Mobile, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Mother.Mobile)
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</div>
				</div>
			}
		</div>
	}
</div>
