@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

<h1>@Model.Page.Title - Level 1</h1>
@Html.Partial("Regions/StageTeaser", teaserModel)
@Html.Partial("Regions/Teaser", teaserModel)
@Html.Partial("Regions/Teaser", teaserModel)
@Html.Partial("Regions/Teaser", teaserModel)