@using Piranha.Extend.Regions
@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

@Html.Partial("Regions/StageTeaser", Model.Region<Teaser>("StageTeaser"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText1"))

<div class="section">
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser1"))
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser2"))
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser3"))
</div>

@Html.Partial("Regions/AnimatedImage", Model.Region<AnimatedImage>("AnimatedImage1"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText2"))

<div class="section">
    @Html.Partial("Regions/Block", Model.Region<Block>("Block1"))
    @Html.Partial("Regions/Block", Model.Region<Block>("Block2"))
    @Html.Partial("Regions/Block", Model.Region<Block>("Block3"))
</div>

@*@Html.Partial("Regions/AnimatedSvg", Model.Region<AnimatedSvg>("AnimatedSVG1"))*@

@Html.Partial("Regions/AnimatedImage", Model.Region<AnimatedImage>("AnimatedImage2"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText3"))de