@using Piranha.Extend.Regions
@model Piranha.Models.PageModel
@{
	ViewBag.Title = Model.Page.Title ;
}

@section head {
<style>
.page { max-width: none; }
.page-constrained { max-width: 72rem; }
.section-onepage { background-color: #ddd; }
.section-onepage:nth-of-type(2n+1) { background-color: #eee; }

.scroll-anim .twitter { background-image: url("/img/twitter-sprite.svg"); background-size: 400px 100px; height: 100px; width: 100px; }
.scroll-anim .twitter-wing-down { background-position: 0 0; }
.scroll-anim .twitter-wing-mid-up { background-position: 1000px 0; }
.scroll-anim .twitter-wing-up { background-position: 200px 0; }
.scroll-anim .twitter-wing-mid-down { background-position: 300px 0; }
</style>
}

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/StageTeaser", Model.Region<Teaser>("StageTeaser"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser1"))
		@Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser2"))
		@Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser3"))
	</div>
</section>

@Html.Partial("Regions/AnimatedImage", Model.Region<AnimatedImage>("Parallax1"))

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText1"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/Block", Model.Region<Block>("Block1"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/Block", Model.Region<Block>("Block2"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/Block", Model.Region<Block>("Block3"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText2"))
	</div>
</section>


<section class="section-onepage">
	@Html.Partial("Regions/AnimatedSvg", Model.Region<AnimatedSvg>("AnimatedSVG1"))
</section>	

<div class="overlapping scroll-anim" data-jmname="frame-ani-by-scrolling|scrollControlTransition" data-jmdominit="true">
	<div class="to-overlap twitter twitter-wing-down"></div>
	<div class="to-overlap twitter twitter-wing-mid-up"></div>
	<div class="to-overlap twitter twitter-wing-up"></div>
	<div class="to-overlap twitter twitter-wing-mid-down"></div>
</div>

<section class="section-onepage">
	@Html.Partial("Regions/AnimatedImage", Model.Region<AnimatedImage>("Parallax2"))
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText3"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/Tiles", Model.Region<Tiles>("Tiles1"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText4"))
	</div>
</section>

<section class="section-onepage">
	<div class="page-constrained">
		@Html.Partial("Regions/AnimatedImageSwap", Model.Region<AnimatedImageSwap>("AnimatedImageSwap1"))
	</div>
</section>