@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

@Html.Partial("Regions/Stage-Teaser", Model.Region<Teaser>("Stage-Teaser"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText1"))

<div class="section">
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser1"))
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser2"))
    @Html.Partial("Regions/Teaser", Model.Region<Teaser>("Teaser3"))
</div>

@Html.Partial("Regions/Image", Model.Region<Image>("Image1"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText2"))

<div class="section">
    @Html.Partial("Regions/Block", Model.Region<Block>("Block1"))
    @Html.Partial("Regions/Block", Model.Region<Block>("Block2"))
    @Html.Partial("Regions/Block", Model.Region<Block>("Block3"))
</div>

@Html.Partial("Regions/Image", Model.Region<Image>("Image2"))

@Html.Partial("Regions/AnimatedText", Model.Region<AnimatedText>("AnimatedText3"))
