@model List<string>
@{
    ViewBag.Title = "Important";
}

<h2>Important Manager</h2>
<p>Hier eine Liste der Daten, die der ImportantManager uns liefert:</p>
<table class="table table-striped">
	<tr>
		<th>Index</th>
		<th>Content</th>
		<th>Details</th>
	</tr>
	@for(var i = 0; i < Model.Count; i++)
	{
		<tr>
			<td>@i</td>
			<td>@Model.ElementAt(i)</td>
			<td>@Html.ActionLink("Details zu No." +i.ToString(), "ImportantDetails", new { id = i})</td>
		</tr>
	}
</table>
<h3>ModulInfos aus CustomSection</h3>
<ul>
	<li>@Html.ActionLink("Modulinfo", "ImportantModuleInfo")</li>
	<li>@Html.ActionLink("DeviceInfo aus der Config", "ImportantConfiguredDeviceInfo")</li>
</ul>

