<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title>@Site.SiteTitle | @Page.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="$description$" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	@*////////////////////////////////////////////////////////////
	// Favicons je nach Featureeinstellung
	////////////////////////////////////////////////////////////*@
	@if(Html.FeatureEnabled(PerformanceFeature.Favicons))
	{
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-72x72.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-114x114.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-57x57-precomposed.png" />
	}
	
	<meta name="msapplication-TileImage" content="/favicon/ms-touch-icon-144x144-precomposed.png" />
    <meta name="msapplication-TileColor" content="#222222" />
	

    @Html.Partial("_localStorageJS")

    @if (!Html.FeatureEnabled(PerformanceFeature.PerformanceA) || Html.IsDebug())
    {
    <script src="/js/externals/customized/modernizr.custom.js"></script>
    <script src="/js/externals/originalReferenceSource/matchmedia.js"></script>
    <script src="/js/externals/originalReferenceSource/picturefill.js"></script>
    <script src="/js/externals/originalReferenceSource/require.2.1.11.js" data-main="/Content/MainJS/require-main.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" />
    </noscript>
    }
    else
    {
    <script>
        if (window.loadUnminifyVersion) {
            addJSToDOM('/js/externals/customized/modernizr.custom.js');
            addJSToDOM('/js/externals/originalReferenceSource/matchmedia.js');
            addJSToDOM('/js/externals/originalReferenceSource/picturefill.js');
            addCSSToDOM('/css/style.css');
            //addCSSToDOM('/css/ayyildiz.css');
            addJSToDOM('/js/externals/customized/require.2.1.11.js', 'data-main', '/Content/MainJS/require-main-asdfaassdfsdf');
        } else {
            addJSToDOM('/js/build/externals/customized/');
            addJSToDOM('/js/build/externals/originalReferenceSource/matchmedia.05942b.js');
            addJSToDOM('/js/build/externals/originalReferenceSource/');
            addJSToDOM('/js/build/externals/customized/', 'data-main', '/Content/MainJS/require-main-asdfaassdfsdf');
            //addCSSToDOM('/css/min/style.956d7a.css');
            addCSSToDOM('/css/style.css');
        }
    </script>
    <link rel="stylesheet" href="/css/min/style.956d7a.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" />
    </noscript>
    }




	@*////////////////////////////////////////////////////////////
	// Section für das hinzufügen von HEAD-Elementen aus Views
	////////////////////////////////////////////////////////////*@
	@RenderSection("head", required: false)
</head>

<body>
    <div class="page">
        <header class="page-header" role="banner">
			@{ Html.RenderAction("_Navigation", "Content", new { area = "" }); }
            @Html.Partial("_LoginPartial")
        </header>
        <main role="main">
            <div class="togglebox">
		        <a class="tb-subject" data-jmname="togglebox">Features</a>
		        <div class="tb-content">
			        @PerformanceFeature.AriaRoles: @Html.FeatureEnabled(PerformanceFeature.AriaRoles)<br />
			        @PerformanceFeature.Favicons: @Html.FeatureEnabled(PerformanceFeature.Favicons)<br />
			        @PerformanceFeature.IE8: @Html.FeatureEnabled(PerformanceFeature.IE8)<br />
			        @PerformanceFeature.MicroData: @Html.FeatureEnabled(PerformanceFeature.MicroData)<br />
			        @PerformanceFeature.MicroFormats: @Html.FeatureEnabled(PerformanceFeature.MicroFormats)<br />
			        @PerformanceFeature.NoJS: @Html.FeatureEnabled(PerformanceFeature.NoJS)<br />
			        @PerformanceFeature.PerformanceA: @Html.FeatureEnabled(PerformanceFeature.PerformanceA)<br />
			        @PerformanceFeature.PerformanceB: @Html.FeatureEnabled(PerformanceFeature.PerformanceB)<br />
			        @PerformanceFeature.PerformanceC: @Html.FeatureEnabled(PerformanceFeature.PerformanceC)<br />
			        @PerformanceFeature.Prefetch: @Html.FeatureEnabled(PerformanceFeature.Prefetch)<br />
			        @PerformanceFeature.ProgressiveEnhancement: @Html.FeatureEnabled(PerformanceFeature.ProgressiveEnhancement)<br />
			        @PerformanceFeature.ResponsiveImages : @Html.FeatureEnabled(PerformanceFeature.ResponsiveImages)<br />
			        @PerformanceFeature.SpriteSheets: @Html.FeatureEnabled(PerformanceFeature.SpriteSheets)<br />
			        @PerformanceFeature.TouchSupport: @Html.FeatureEnabled(PerformanceFeature.TouchSupport)<br />
		        </div>
	        </div>
            @RenderBody()
        </main>
	    <footer class="page-footer" role="contentinfo">
		    <p class="copyright">&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
	    </footer>
    </div>
</body>

</html>
