<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title>@Site.SiteTitle | @Page.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="$description$" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	@*////////////////////////////////////////////////////////////
	// Favicons je nach Featureeinstellung
	////////////////////////////////////////////////////////////*@
	@if(Html.FeatureEnabled(PerformanceFeature.Favicons))
	{
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-72x72.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-114x114.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-57x57-precomposed.png" />
	}
	
	<meta name="msapplication-TileImage" content="/favicon/ms-touch-icon-144x144-precomposed.png" />
    <meta name="msapplication-TileColor" content="#222222" />
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js" data-token="f0d48ad2c3b34824bebe43fa8851188d"></script>
    }

    @Html.Partial("_basisJS")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
    <script>
        window.debug = true;
    </script>
    }
    else
    {
    <script>
        window.debug = false;
    </script>
    }
    @if (!Html.FeatureEnabled(PerformanceFeature.PerformanceA) || HttpContext.Current.IsDebuggingEnabled)
    {
    <script>
        window.UseLocalStorage = false;
        window.loadUnminifyVersion = true;
    </script>

    <script src="/js/externals/customized/modernizr.custom.js"></script>
    <script src="/js/externals/originalReferenceSource/matchmedia.js"></script>
    <script src="/js/externals/originalReferenceSource/picturefill.js"></script>
    <script src="/js/externals/originalReferenceSource/require.2.1.11.js" data-main="/Content/MainJS/@(Configuration.GetFrontEndCacheKey() + ".js")"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" />
    </noscript>
    }
    else
    {
    @Html.Partial("_localStorageJS")
    <script>
        if (window.loadUnminifyVersion) {
            addJSToDOM('/js/externals/customized/modernizr.custom.js');
            addJSToDOM('/js/externals/originalReferenceSource/matchmedia.js');
            addJSToDOM('/js/externals/originalReferenceSource/picturefill.js');
            addCSSToDOM('/css/style.css');
            //addCSSToDOM('/css/ayyildiz.css');
            addJSToDOM('/js/externals/customized/require.2.1.11.js', 'data-main', '/Content/MainJS/@(Configuration.GetFrontEndCacheKey() + ".js")');
        } else {
            addJSToDOM('/js/build/externals/customized/modernizr.custom.6966b8.js');
            addJSToDOM('/js/build/externals/originalReferenceSource/matchmedia.05942b.js');
            addJSToDOM('/js/build/externals/originalReferenceSource/picturefill.40a9ae.js');
            addCSSToDOM('/css/build/style.86d06a.css');
            addJSToDOM('/js/build/externals/customized/require.2.1.11.17e342.js', 'data-main', '/Content/MainJS/@(Configuration.GetFrontEndCacheKey() + ".js")');
        }
    </script>

    <noscript>
        <link rel="stylesheet" href="/css/build/style.86d06a.css" />
        <link rel="stylesheet" href="/css/build/noscript.589281.css" />
    </noscript>
    }




	@*////////////////////////////////////////////////////////////
	// Section für das hinzufügen von HEAD-Elementen aus Views
	////////////////////////////////////////////////////////////*@
	@RenderSection("head", required: false)
</head>

<body>
    <div class="page">
        <header class="page-header" role="banner">
            <a class="logo" href="/"><img src="/img/logo.svg" alt="Logo" /></a>
            @*<div class="fb-plugin" data-jmname="show-html-comment-only-desktop" data-jmdominit="true">
                <!-- comment in by JS <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fayyildiz.de&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;locale=de_DE&amp;appId=203789616307387" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 130px; height:21px;" allowTransparency="true"></iframe>-->
            </div>*@
			@{ Html.RenderAction("_Navigation", "Content", new { area = "" }); }
            @*@Html.Partial("_LoginPartial")*@
        </header>
        <main role="main">
            @RenderBody()
            <div class="togglebox">
		        <a class="tb-subject" data-jmname="togglebox">Features</a>
		        <div class="tb-content">
			        @PerformanceFeature.AriaRoles: @Html.FeatureEnabled(PerformanceFeature.AriaRoles)<br />
			        @PerformanceFeature.Favicons: @Html.FeatureEnabled(PerformanceFeature.Favicons)<br />
			        @PerformanceFeature.IE8: @Html.FeatureEnabled(PerformanceFeature.IE8)<br />
			        @PerformanceFeature.MicroData: @Html.FeatureEnabled(PerformanceFeature.MicroData)<br />
			        @PerformanceFeature.MicroFormats: @Html.FeatureEnabled(PerformanceFeature.MicroFormats)<br />
			        @PerformanceFeature.NoJS: @Html.FeatureEnabled(PerformanceFeature.NoJS)<br />
			        @PerformanceFeature.PerformanceA: @Html.FeatureEnabled(PerformanceFeature.PerformanceA)<br />
			        @PerformanceFeature.PerformanceB: @Html.FeatureEnabled(PerformanceFeature.PerformanceB)<br />
			        @PerformanceFeature.PerformanceC: @Html.FeatureEnabled(PerformanceFeature.PerformanceC)<br />
			        @PerformanceFeature.Prefetch: @Html.FeatureEnabled(PerformanceFeature.Prefetch)<br />
			        @PerformanceFeature.ProgressiveEnhancement: @Html.FeatureEnabled(PerformanceFeature.ProgressiveEnhancement)<br />
			        @PerformanceFeature.ResponsiveImages : @Html.FeatureEnabled(PerformanceFeature.ResponsiveImages)<br />
			        @PerformanceFeature.SpriteSheets: @Html.FeatureEnabled(PerformanceFeature.SpriteSheets)<br />
			        @PerformanceFeature.TouchSupport: @Html.FeatureEnabled(PerformanceFeature.TouchSupport)<br />
		        </div>
	        </div>
        </main>
        <footer class="page-footer" role="contentinfo">
            <section class="h-card">
                <div class="hc-section"><a class="u-url p-organization-name link" href="/">join.media GmbH &amp; Co. KG</a></div>
                <address class="hc-section">
                    <span class="p-street-address">Düsseldorfer Straße 269</span>
                    <span class="p-locality">45481 Mülheim an der Ruhr</span>
                    <span class="p-country-name">Deutschland</span>
                </address>
                <div class="hc-section">
                    <a class="p-tel link" href="tel:+49208960320">Fon: +49 208 / 960 32 - 0</a>
                    <span class="p-tel-fax">Fax: +49 208 / 960 32 - 10</span>
                </div>
                <div class="hc-section">
                    <a class="u-email link" href="mailto:info@joinmedia.de">info@joinmedia.de</a>
                    <a class="u-url link" href="http://www.joinmedia.de">www.joinmedia.de</a>
                </div>
            </section>
            <div class="legal">
                <a class="imprint link" href="#Impressum">Impressum</a>
                <p class="copyright">&copy; Copyright @DateTime.Now.Year</p>
            </div>
	    </footer>
    </div>
</body>

</html>
