@model OnePageSection

@if (Model != null)
{
	<div class="section" @(!String.IsNullOrEmpty(Model.NavigationName) ? "id=\"" + Model.NavigationName + "\"" : "")>
		<div class="image">
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="@UI.Content(Model.Image.Id, PictureFill.SectionHeaderWidth, PictureFill.SectionHeaderHeight)" media="(min-width: 75em)">
				<source srcset="@UI.Content(Model.Image.Id, PictureFill.SectionHeaderWidth_Tablet, PictureFill.SectionHeaderHeight_Tablet)" media="(min-width: 48em)">
				<source srcset="@UI.Content(Model.Image.Id, PictureFill.SectionHeaderWidth_Mobile, PictureFill.SectionHeaderHeight_Mobile)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="@UI.Content(Model.Image.Id, PictureFill.SectionHeaderWidth, PictureFill.SectionHeaderHeight)" src="@UI.Content(Model.Image.Id, PictureFill.SectionHeaderWidth, PictureFill.SectionHeaderHeight)" alt="@Model.Image.Description">
			</picture>
		</div>
		<div class="content">
			<h2 class="">@Model.Headline</h2>
			@MvcHtmlString.Create(Model.Content)
		</div>
	</div>
}