@model TeaserExtension
<a class="teaser" href="@Model.FooterLink" data-jmselector="equal-heights-children">
    @if(Model.Image != null){
        <div class="t-img">
            @Html.Partial(
                "Image/_PictureFill_Teaser", Model.Image)
        </div>
    }
    <header class="t-header">
        <h3 class="t-head">@Model.Header</h3>
    </header>
    <div class="t-content">
        @if (Model.BulletPoints != null && Model.BulletPoints.Any(b => !string.IsNullOrEmpty(b)))
        {
            <ul class="bullet-list">
                @foreach (var bp in Model.BulletPoints.Where(b => !string.IsNullOrEmpty(b)))
                {
                    <li class="list-item">@bp</li>
                }
            </ul>
        }
    </div>
    <footer class="t-footer">
	    <span class="btn">@Model.FooterText</span>
    </footer>
</a>