@model TabsRegion

@if (Model != null && Model.Tabs != null && Model.Tabs.Any())
{
	<div class="tabs">
		@for (var i = 0; i < Model.Tabs.Count; i++)
		{
			<input type="radio" id="@("tab" + i)" name="tab" class="tab-control" @(i == 0 ? "checked" : "") />
			<label for="@("tab" + i)" class="tab">@Model.Tabs[i].Title</label>
		}
		@foreach (var tab in Model.Tabs)
		{
			<div class="tab-content">
				@MvcHtmlString.Create(tab.Body)
			</div>
		}
	</div>
}
else
{
	<div class="error-msg">Tabs-Model ist leer</div>
}