@using JM.ReferenceApplication.Models
@model JM.ReferenceApplication.Controllers.TestPostModel

<h2>Test für CustomValidationAttributes</h2>
@Html.ValidationSummary()
<form action="/Validation" method="POST">
	@Html.LabelFor(m => m.StringA)
	@Html.TextBoxFor(m=> m.StringA)
	@Html.ValidationMessageFor(m => m.StringA)
	<hr/>
	@Html.LabelFor(m => m.StringB)
	@Html.JMTextBoxFor(m=> m.StringB)
	@Html.JMValidationMessageFor(m => m.StringB)
	<hr/>
	@Html.LabelFor(m => m.StringC)
	@Html.JMTextBoxFor(m=> m.StringC)
	@Html.ValidationMessageFor(m => m.StringC)
	<hr/>
	<input type="submit" name="Senden" class="btn btn-primary" value="press play &rArr;">
</form>
