<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="$description$" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	@*////////////////////////////////////////////////////////////
	// Favicons je nach Featureeinstellung
	////////////////////////////////////////////////////////////*@
	@if(Html.FeatureEnabled(PerformanceFeature.Favicons))
	{
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-72x72.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-114x114.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
		<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-57x57-precomposed.png" />
	}
	
	<meta name="msapplication-TileImage" content="/favicon/ms-touch-icon-144x144-precomposed.png" />
    <meta name="msapplication-TileColor" content="#222222" />
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
       <!-- <script src="/js/raven.js"></script>
        <script>
            Raven.config('https://bef491e5f678465fbf3975a322eb9a19@app.getsentry.com/30654').install();
        </script>-->
    }

    @Html.Partial("_basisJS")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
    <script>
        window.debug = true;
    </script>
    }
    else
    {
    <script>
        window.debug = false;
    </script>
    }
    @if (!Html.FeatureEnabled(PerformanceFeature.PerformanceA) || HttpContext.Current.IsDebuggingEnabled)
    {
    <script>
        window.UseLocalStorage = false;
        window.loadUnminifyVersion = true;
    </script>

    <script src="/js/describer-core/libs/modernizr.custom.js"></script>
    <script src="/js/describer-core/libs/matchmedia.js"></script>
    <script src="/js/describer-more/plugins/picturefill.js"></script>
    <script src="/js/describer-core/libs/require.2.1.11.js" data-main="/Content/MainJS/require-main-@(Configuration.GetFrontEndCacheKey() + ".js")"></script>
    <link rel="stylesheet" href="/css/main/style.css" />
    <noscript>
        <link rel="stylesheet" href="/css/main/noscript.css" />
    </noscript>
    }
    else
    {
    @Html.Partial("_localStorageJS")
    <script>
        if (window.loadUnminifyVersion) {
            addJSToDOM('/js/describer-core/libs/modernizr.custom.js');
            addJSToDOM('/js/describer-core/libs/matchmedia.js');
            addJSToDOM('/js/describer-more/plugins/picturefill.js');
            addCSSToDOM('/css/main/style.css');
            addJSToDOM('/js/describer-core/libs/require.2.1.11.js', 'data-main', '/Content/MainJS/require-main-@(Configuration.GetFrontEndCacheKey() + ".js")');
        } else {
            addJSToDOM('/js/build/describer-core/libs/modernizr.custom.6966b8.js');
            addJSToDOM('/js/build/describer-core/libs/matchmedia.05942b.js');
            addJSToDOM('/js/build/describer-more/plugins/picturefill.b30289.js');
            addCSSToDOM('/css/main/min/style.8182ac.css');
            addJSToDOM('/js/build/describer-localStorage/require.2.1.11-localStorage.42fa63.js', 'data-main', '/Content/MainJS/require-main-@(Configuration.GetFrontEndCacheKey() + ".js")');
        }
    </script>

    <noscript>
        <link rel="stylesheet" href="/css/main/min/style.8182ac.css" />
        <link rel="stylesheet" href="/css/main/min/noscript.d41d8c.css" />
    </noscript>
    }

	@*////////////////////////////////////////////////////////////
	// Section für das hinzufügen von HEAD-Elementen aus Views
	////////////////////////////////////////////////////////////*@
	@RenderSection("head", required: false)
</head>

<body>
	@*@{ Html.RenderAction("_StyleSwitcher", "Content", new { area = "" }); }*@
	<div class="page">
    <header class="page-header" role="banner">
      <div class="page-constrained">
        <a class="logo" href="/#">
          <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="/img/joinmedia.svg" type="image/svg+xml" />
              <!--[if IE 9]></video><![endif]-->
              <img srcset="/img/joinmedia.png" alt="join.media Logo" />
          </picture>
        </a>
        @if (IsSectionDefined("navigation"))
        {
    	    @RenderSection("navigation", required: false)
        }
        else
        {
    	    Html.RenderAction("_Navigation", "Content", new { area = "" });
        }
      </div>
    </header>
		<main class="page-main" role="main">
			@RenderBody()
		</main>
        <footer class="page-footer" role="contentinfo">
            <div class="page-constrained">
                <a class="back-to-top" href="#" data-jmname="back-to-top" data-jmdominit="true">Zurück nach oben</a>
                <div class="legal">
                    <a class="imprint link" href="/Impressum">Impressum</a>
                    <p class="copyright">&copy; @DateTime.Now.Year join.media GmbH &amp; Co. KG</p>
                </div>
            </div>
        </footer>
	</div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-7841854-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        loadGoogleAPI();
        function loadGoogleAPI() {
            var script = document.createElement("script");
            script.src = "//www.google.com/jsapi?key=AIzaSyB2oMRQW1_t9LYrErsj0G83xCvTtZiGoPI&callback=loadGoogleMaps";
            document.getElementsByTagName("head")[0].appendChild(script);
            // console.log("Google-Loader has been loaded, but not the Maps-API.");
        }

        function loadGoogleMaps() {
            google.load("maps", "3", { other_params: 'sensor=false', callback: renderGoogleMaps });
            // console.log("Maps-API has been loaded, ready to use.");
        }

        function renderGoogleMaps() {
            var mapStyles = [
              {
                  "featureType": "water",
                  "elementType": "All",
                  "stylers": [
                    { "visibility": "on" },
                    { "color": "#a0a0a0" }
                  ]
              }, {
                  "featureType": "landscape",
                  "elementType": "All",
                  "stylers": [
                    { "color": "#f2f2f2" }
                  ]
              }, {
                  "featureType": "road",
                  "elementType": "All",
                  "stylers": [
                    { "saturation": -100 },
                    { "lightness": 45 }
                  ]
              }, {
                  "featureType": "road.highway",
                  "elementType": "All",
                  "stylers": [
                    { "visibility": "simplified" }
                  ]
              }, {
                  "featureType": "road.arterial",
                  "elementType": "labels.icon",
                  "stylers": [
                    { "visibility": "off" }
                  ]
              }, {
                  "featureType": "administrative",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    { "color": "#444444" }
                  ]
              }, {
                  "featureType": "transit",
                  "elementType": "All",
                  "stylers": [
                    { "visibility": "off" }
                  ]
              }, {
                  "featureType": "poi",
                  "elementType": "All",
                  "stylers": [
                    { "visibility": "off" }
                  ]
              }
            ];

            var mapOptions = {
                center: new google.maps.LatLng(51.4156, 6.867623),
                zoom: 16,
                disableDefaultUI: false,
                scrollwheel: false,
                draggable: true, // Disable on mobile
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            map.setOptions({ styles: mapStyles });

            var contentString =
               '<div class="maps-infowindow">' +
                   '<h4 class="maps-iw-head">join.media GmbH &amp; Co. KG</h4>' +
                   '<p class="maps-iw-main">Düsseldorfer Straße 269<br />45481 Mülheim an der Ruhr<br />Deutschland</p>' +
               '</div>';

            var infoWindow = new google.maps.InfoWindow({
                content: contentString
            });

            var jmMarker = new google.maps.Marker({
                position: new google.maps.LatLng(51.4156, 6.867623),
                map: map,
                title: "join.media",
                icon: "/img/marker.png"
            });
            jmMarker.setAnimation(google.maps.Animation.DROP);

            google.maps.event.addListener(jmMarker, "click", function () {
                infoWindow.open(map, jmMarker);
            });
        }
    </script>
</body>

</html>