@model  List<Piranha.Models.Sitemap>

@*<nav class="nav" id="nav" role="navigation">
    <a class="menu-btn" href="#nav" data-jmname="nav">Menu</a>
	<ul class="nav-items">
		@foreach (var map in Model.Where(m => !m.IsHidden))
		{
			var hasSubNav = map.Pages != null && map.Pages.Any(m => !m.IsHidden);
			<li class="nav-item menu-item">
				<a class="nav-link" href="@JMPiranhaHelper.GenerateUrl(map)" @if (hasSubNav) { <text>data-jmname="nav-link" data-jmdominit="true"</text>}>@(String.IsNullOrEmpty(map.NavigationTitle) ? map.Title : map.NavigationTitle)</a>
				@if (hasSubNav)
				{
					<div class="flyout">
						@foreach (var sub in map.Pages.Where(m => !m.IsHidden))
						{
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" data-jmname="flyout-link" href="@JMPiranhaHelper.GenerateUrl(sub)">@(String.IsNullOrEmpty(sub.NavigationTitle) ? sub.Title : sub.NavigationTitle)</a></div>
								@if (sub.Pages != null && sub.Pages.Any(m => !m.IsHidden))
								{
									<ul class="flyout-items">
										@foreach (var subSub in sub.Pages.Where(m => !m.IsHidden))
										{
											<li class="flyout-item"><a class="flyout-link" href="@JMPiranhaHelper.GenerateUrl(subSub)">@(String.IsNullOrEmpty(subSub.NavigationTitle) ? subSub.Title : subSub.NavigationTitle)</a></li>
										}
									</ul>
								}
							</div>
						}
					</div>
				}
			</li>
		}
	</ul>
</nav>*@

<nav class="nav" id="nav" role="navigation">
    <a class="menu-btn" href="#nav" data-jmname="nav-toggle">Menu</a>
    <ul class="nav-items">
        <li class="nav-item menu-item">
            <a class="nav-link" href="#joinmedia" data-jmname="anchor|nav-toggle">join.media</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-link" href="#services" data-jmname="anchor|nav-toggle">Leistungen</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-link" href="#customers" data-jmname="anchor|nav-toggle">Kunden</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-link" href="#agency" data-jmname="anchor|nav-toggle">Agentur</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-link" href="#jobs" data-jmname="anchor|nav-toggle">Jobs</a>
        </li>
        <li class="nav-item menu-item">
            <a class="nav-link" href="#contact" data-jmname="anchor|nav-toggle">Kontakt</a>
        </li>
    </ul>
</nav>
