@using System.Web.Mvc.Html
@model AnimatedImage

<script type="text/javascript">
	$(document).ready(function () {
		$('#pnl-image').addClass('content-editor');
	});
</script>
<ul class="form">
	<li>
		@Html.PartialFor("ImageRegion", m => m.Image)
	</li>
	<li>
		@Html.LabelFor(m => m.Hide, "Element verstecken")
		<div class="input">@Html.CheckBoxFor(m => m.Hide)</div>
	</li>
	<li>
		@Html.LabelFor(m => m.ImageEffect, "Bildeffekt")
		<div class="input">@Html.DropDownListFor(m => m.ImageEffect, Model.ImageEffectSelection)</div>
	</li>
		<li>
		@Html.LabelFor(m => m.ParallaxValue, "Parallax-Stärke")
			<div class="input">@Html.TextBoxFor(m => m.ParallaxValue)</div>
			@Html.ValidationMessageFor(m => m.ParallaxValue)
			<p>Bestimmt die Stärke des Parallaxeffekts, wenn dieser aktiviert ist. Der Wert sollte eine Kommazahl zwischen 1 und 3 sein - empfohlen ist 1.5.</p>
	</li>
</ul>
