@using JM.Foundation.Mvc.Helper
@using Piranha.Extend.Regions
@model FaqRegion
@{
    //i wird für Arrayindex benutzt
    var i = 0;
    //j wird als Idenfifier benutzt
    var j = 1;
	string regionID = "0";
	var fieldString = "asda";

	if (Model.Faqs == null)
	{
		Model.Faqs = new List<TextRegion>() { new TextRegion() };
	}
	fieldString = @Html.GetFullHtmlFieldName(m => m.Faqs.FirstOrDefault());
	regionID = fieldString.Replace("Regions[", "").Split(']')[0];
}
<script>
	// @fieldString
	var faqID_@regionID = @Model.Faqs.Count;
	var faqIndex_@regionID = @Model.Faqs.Count;

	function @String.Format("addFaq_{0}(id)", regionID)
	{
		//hier lesen wir die nächte ID
		var id = faqID_@regionID + 1;
		var index = faqIndex_@regionID;
		var regionid = @regionID;
		$("#addFaq_"+ regionid).before("<li class='faq_" + regionid + "_" + id + "'><label>Frage " + id + ":</label><div class='input'><input type='text' value='' name='Regions["+ regionid +"].Body.Faqs[" + index + "].Title' id='Question_" + regionid + "_" + id + "'></div><li class='faq_" + regionid + "_" + id + "'><label>Antwort:</label><div class='input'><textarea rows='8' name='Regions["+ regionid +"].Body.Faqs[" + index + "].Body' id='Answer_" + regionid + "_" + id + "' class='editor' cols='20'></textarea></div></li><li class='faq_" + regionid + "_" + id + "'><a class='btn' data-remove-id='" + regionid + "_" + id + "' onclick='removeFaq_"+regionid+"(" + id + ")';'>Faq entfernen</a></li>");
		tinymce.EditorManager.execCommand('mceAddEditor', true, 'Answer_' + regionid+ "_"  + id);
		faqID_@regionID++;
		faqIndex_@regionID++;
	}

	function @String.Format("removeFaq_{0}(id)", regionID) 
	{
		var regionid = @regionID;
		$(".faq_" + regionid + "_" + id).remove();

		var countIndex = 0;
		for(var f = 0; f < faqID_@regionID; f++){

			var idtochange = f + 1;
			var inputID = "#Question_" + regionid + "_" + idtochange;
			var textAreaID = "#Answer_" + regionid + "_" + idtochange;
            
			if($(inputID).length && $(textAreaID).length)
			{
				$(inputID).attr("name", "Regions["+ regionid +"].Body.Faqs[" + countIndex + "].Title");
				$(inputID).attr("data-index", countIndex);

				$(textAreaID).attr("name", "Regions["+ regionid +"].Body.Faqs[" + countIndex + "].Body");
				$(textAreaID).attr("data-index", countIndex);
				countIndex++;
			}
		}
		faqIndex_@regionID--;
	}
</script>
<ul class="form">
    @foreach (var faq in Model.Faqs)
    {
	    <li class="@String.Format("faq_{0}_{1}", regionID, j)">
            <label>Frage @j:</label> 
            <div class="input">
                <input type="text" value="@faq.Title" data-index="@i" name="Regions[@regionID].Body.Faqs[@i].Title" id="@String.Format("Question_{0}_{1}", regionID, j)">
            </div>
        </li>
        <li class="@String.Format("faq_{0}_{1}", regionID, j)">
            <label>Antwort:</label> 
            <div class="input">
                <textarea rows="8" data-index="@i" name="Regions[@regionID].Body.Faqs[@i].Body" id="@String.Format("Answer_{0}_{1}", regionID, j)" class="editor" cols="20">@faq.Body</textarea>
            </div>
        </li>
        <li class="@String.Format("faq_{0}_{1}", regionID, j)"><a class="btn" onclick="@String.Format("removeFaq_{0}({1});", regionID, j)">Faq entfernen</a></li>
        i++;
        j++;
    }
    <li id="addFaq_@regionID"><a class="btn" onclick="@String.Format("addFaq_{0}();", regionID)">Neue Faq hinzufügen</a></li>
</ul>