@using JM.Foundation.Mvc.Helper
@using Piranha.Extend.Regions
@model FaqRegion
@{
    //i wird für Arrayindex benutzt
    var i = 0;
    //j wird als Idenfifier benutzt
    var j = 1;
	string regionID = "0";

    if(Model.Faqs == null)
    {
        Model.Faqs = new List<TextRegion>();
		var fieldString = @Html.GetFullHtmlFieldId(m => m.Faqs.FirstOrDefault());
	    regionID = fieldString.Replace("Regions[", "").Split(']')[0];
    }
}
<script>
    var faqID = @Model.Faqs.Count;
	var faqIndex = @Model.Faqs.Count;
	var regionID = '@regionID';

    function addFaq() {
        //hier lesen wir die nächte ID
        var id = faqID + 1;
        var index = faqIndex;
        $("#addFaq").before("<li class='faq_" + id + "'><label>Frage " + id + ":</label><div class='input'><input type='text' value='' name='Regions["+ regionID +"].Body.Faqs[" + index + "].Title' id='Question_" + id + "'></div><li class='faq_" + id + "'><label>Antwort:</label><div class='input'><textarea rows='8' name='Regions["+ regionID +"].Body.Faqs[" + index + "].Body' id='Answer_" + id + "' cols='20'></textarea></div></li><li class='faq_" + id + "'><a class='btn' data-remove-id='" + id + "' onclick='removeFaq(" + id + ")';'>Faq entfernen</a></li>");
        
        faqID++;
        faqIndex++;
    }
    function removeFaq(id)
    {
        $(".faq_" + id).remove();

        var countIndex = 0;
        for(var f = 0; f < faqID; f++){

            var idtochange = f + 1;
			var inputID = "#Question_" + idtochange;
            var textAreaID = "#Answer_" + idtochange;
            
            if($(inputID).length && $(textAreaID).length)
            {
				$(inputID).attr("name", "Regions["+ regionID +"].Body.Faqs[" + countIndex + "].Title");
                $(inputID).attr("data-index", countIndex);

                $(textAreaID).attr("name", "Regions["+ regionID +"].Body.Faqs[" + countIndex + "].Body");
                $(textAreaID).attr("data-index", countIndex);
				countIndex++;
            }
        }
        faqIndex--;
    }
</script>
<ul class="form">
    @foreach(var faq in Model.Faqs)
    {
        <li class="faq_@j">
            <label>Frage @j:</label> 
            <div class="input">
                <input type="text" value="@faq.Title" data-index="@i" name="Regions[@regionID].Body.Faqs[@i].Title" id="Question_@j">
            </div>
        </li>
        <li class="faq_@j">
            <label>Antwort:</label> 
            <div class="input">
                <textarea rows="8" data-index="@i" name="Regions[@regionID].Body.Faqs[@i].Body" id="Answer_@j" cols="20">@faq.Body</textarea>
            </div>
        </li>
        <li class="faq_@j"><a class="btn" onclick="removeFaq(@j);">Faq entfernen</a></li>
        i++;
        j++;
    }
    <li id="addFaq"><a class="btn" onclick="addFaq();">Neue Faq hinzufügen</a></li>
</ul>