@using System.Web.Mvc.Html
@using JM.Foundation.Mvc.Helper
@using Piranha.Extend.Regions
@model TabsRegion
@{
    //i wird für Arrayindex benutzt
    var i = 0;
    //j wird als Idenfifier benutzt
    var j = 1;
	string regionID = "0";
	
    if(Model.Tabs == null)
    {
        Model.Tabs = new List<TextRegion>();
	    var fieldString = @Html.GetFullHtmlFieldId(m => m.Tabs.FirstOrDefault());
	    regionID = fieldString.Replace("Regions[", "").Split(']')[0];
    }
}

@section Head{
	<!-- here be added -->
	@Html.Partial("~/Areas/Manager/Views/Shared/Partial/TinyMCE.cshtml");
}
<script>
	var tabID = @Model.Tabs.Count;
	var tabIndex = @Model.Tabs.Count;
	var regionID = '@regionID';

	function addTab() 
	{
		var id = tabID + 1;
		var index = tabIndex;
		$("#addTab").before("<li class='tab_" + id + "'><label>Titel " + id + ":</label><div class='input'><input type='text' value='' name='Regions["+ regionID +"].Body.Tabs[" + index + "].Title' id='TabTitle_" + id + "'></div><li class='tab_" + id + "'><label>Inhalt:</label><div class='input'><textarea rows='8' class='editor' name='Regions["+ regionID +"].Body.Tabs[" + index + "].Body' id='TabContent_" + id + "' cols='20'></textarea></div></li><li class='tab_" + id + "'><a class='btn' data-remove-id='" + id + "' onclick='removeTab(" + id + ")';'>Reiter entfernen</a></li>");
		tinymce.EditorManager.execCommand('mceAddEditor', true, 'TabContent_' + id);
		tabID++;
		tabIndex++;
	}

	function removeTab(id) 
	{
		$(".tab_" + id).remove();
		var countIndex = 0;
		for(var f = 0; f < tabID; f++){

			var idtochange = f + 1;
			var inputID = "#TabTitle_" + idtochange;
			var textAreaID = "#TabContent_" + idtochange;
            
			if($(inputID).length && $(textAreaID).length)
			{
				$(inputID).attr("name", "Regions["+ regionID +"].Body.Tabs[" + countIndex + "].Title");
				$(inputID).attr("data-index", countIndex);
				$(textAreaID).attr("name", "Regions["+ regionID +"].Body.Tabs[" + countIndex + "].Body");
				$(textAreaID).attr("data-index", countIndex);
				countIndex++;
			}
		}
		tabIndex--;
	}
</script>
<ul class="form">
    @foreach(var tab in Model.Tabs)
    {
        <li class="tab_@j">
            <label>Titel @j:</label>
	        <div class="input">
		        @Html.TextBoxFor(m => m.Tabs[i].Title, new { data_index= i, id="TabTitle_" + j})
	        </div>
        </li>
        <li class="tab_@j">
            <label>Inhalt:</label> 
	        <div class="input">
		        @Html.TextAreaFor(m => m.Tabs[i].Body, new { data_index= i, id="TabContent_" + j, rows=8, cols=20, @class="editor"})
	        </div>
        </li>
        <li class="tab_@j"><a class="btn" onclick="removeTab(@j);">Reiter entfernen</a></li>
        i++;
        j++;
    }
    <li id="addTab"><a class="btn" onclick="addTab();">Neuen Reiter hinzufügen</a></li>
</ul>