@using System.Web.Mvc.Html
@using JM.Foundation.Mvc.Helper
@using Piranha.Extend.Regions
@model TeaserExtension

@{
    if(Model.BulletPoints == null)
    {
        Model.BulletPoints = new List<string>{"","","","",""};
		Model.Image= new ImageRegion();
    }

	var fieldString = @Html.GetFullHtmlFieldName(m => m.Header);
	var regionID = fieldString.Replace("Regions[", "").Split(']')[0];
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#pnl-image').addClass('content-editor');
    });
</script>
<ul class="form">
	<li>
		@Html.LabelFor(m => m.Header)
		<div class="input">@Html.TextBoxFor(m => m.Header)</div>
	</li>
    <li>
		@Html.LabelFor(m => m.FooterText)
		<div class="input">@Html.TextBoxFor(m => m.FooterText)</div>
	</li>
    <li>
        @Html.LabelFor(m => m.FooterLink)
        <div class="input">@Html.TextBoxFor(m => m.FooterLink)</div>
    </li>
    @for(var i = 0; i < Model.BulletPoints.Count; i++)
    {
        <li>
            <label>Bulletpoint @i:</label> 
	        <div class="input">
		        @Html.TextBoxFor(m => m.BulletPoints[@i], new { id=String.Format("bp_{0}_{1}", regionID, i)})
	        </div>
        </li>
    }
	<li>
		@Html.PartialFor("ImageRegion", m => m.Image)
	</li>
</ul>
